<style>
    a{
        color:rgb(59, 59, 58);
    }
</style><footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="/"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="https://www.instagram.com/adititeena3358/"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://www.linkedin.com/in/aditi-joshi-200416aj?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div>&copy; UPIslice Private Limited </div>
        <div class="f-info-links">
      <a href="/terms">Terms</a> | 
      <a href="/privacy">Privacy</a> | 
      Made with ❤️ by Aditi Joshi
        </div>
    </div>
</footer>